.page-wrapper {
  display: flex;
  justify-content: center;
}

.header {
  width: 800px;
  height: 200px;
  font-size: 50px;
  background-color: rgb(255, 255, 255);
  border-bottom: black 2px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.content_box{
  border: black 2px;
}

.button {
  text-decoration: none;

  background-color: black;
  width: 200px;
  height: 40px;
  padding: 5px;
  font-size: 30px;
  color: white;
  text-align: center;
}

.button:hover {
  background-color: gray;
}

h1 {
  color: rgb(0, 0, 0);
  margin: 0px;
}

input {
  width: 200px;
  height: 40px;
}

textarea {
  width: 400px;
  height: 200px;
}

button {
  width: 70px;
  height: 40px;
  font: 100px;
}

