<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computer</title>
    {% load static %}
    <link href="{% static 'style.css' %}" rel="stylesheet">
</head>
<body>
  <div class="title_container">
    <h1 class="title">컴퓨터학과 전공 과목</h1>
  </div>
  
    <ol>
        {%for subject in com_major%}  
            <div class="list">
                <li>
                    <div class="content">
                          <div class="content_right">
                            <span class="bold">{{subject.subject_name}}</span>
                            <span>| {{subject.subject_major}} |</span>
                            <span>{{subject.prof_name }}</span>
                          </div>

                          <div class="content_left">
                            <div class="buttons">
                              <a href="{% url 'editSubject' subject.pk %}" class="button"> 수정</a>
                              <a href="{% url 'deleteSubject' subject.pk %}" class="button"> 삭제</a>
                            </div>
                          </div>
                    </div>

                  </li>
            </div>
        {% endfor %}
    </ol>
</body>
</html>