<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A list of subjects</title>
    {% load static %}
    <link href="{% static 'style.css' %}" rel="stylesheet">
</head>

<body>
  <div class="entire">
    <div class="section">

      <div class="title_container">
        <h1 class="title">과목 목록</h1>
      </div>

      <div>
        <ul class="list">
          {%for subject in list_subject%}  
            <li>
              <div class="content">
                    <div class="content_right">
                      <span class="bold">{{subject.subject_name}}</span>
                      <span>| {{subject.subject_major}} |</span>
                      <span>{{ subject.prof_name }}</span>
                    </div>

                    <div class="content_left">
                      <div class="buttons">
                        <a href="{% url 'editSubject' subject.pk %}" class="button"> 수정</a>
                        <a href="{% url 'deleteSubject' subject.pk %}" class="button"> 삭제</a>
                      </div>
                    </div>
              </div>
            

            </li>
          {% endfor %}
        </ul>
      </div>  
    
    </div>
  </div>
</body>
</html>


{% comment %} <body>
    <h1>과목 목록</h1>
    {%for subject in list_subject%}
        <div class="list">
            <li>
              <span class="bold">{{subject.subject_name}}</span>
              <span> | {{subject.subject_major}} |</span>
              <span> {{ subject.prof_name }} </span>

              <div class="memos">
                  <a>{{ subject.memo|linebreaks }}</a>
              </div>

              <div class="buttons">
                <a href="{% url 'editSubject' subject.pk %}" class="button"> 수정</a>
                <a href="{% url 'deleteSubject' subject.pk %}" class="button"> 삭제</a>
              </div>
              </li>
        </div>
        {% endfor %}
</body>
</html>
 {% endcomment %}

