{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'common.css' %}"></link>
</head>
<body>
    <div id="wrap">
        <div class="container">
            <h2 class="title">HOME</h2>
            <ul>
                <div class="sub-title">
                    <p>total_posts<span>({{length}})</span></p>
                    
                </div>
                <div class="category">
                    <a href="{% url 'category' hobby %}"> 
                        <p>hobby<span>({{hobby_length}})</span></p>
                    </a>
                    <a href="{% url 'category' food %}">
                        <p>food<span>({{food_length}})</span></p>
                    </a>
                    <a href="{% url 'category' programming %}">
                        <p>programming<span>({{programming_length}})</span></p>
                    </a>
                </div>

                {% for article in articles %}
                <a href="{% url 'detail' article.id %}">
                    <li class="item-box">
                        <p class="item-title">{{article.title}}</p> 
                        <p class="item-content">{{article.content}}</p>
                        <div>
                            <span class="item-date">date: {{article.date}}</span> 
                            <span class="item-category">category: {{article.category}}</span> 
                        </div>
                    </li>
                </a>
                {% endfor %}
            </ul>

            <a class="go-write" href="{% url 'new' %}">
                <button class="back-list">
                    NEW POST
                </button>
            </a>
        </div>   
    </div>
</body>
</html>